@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0px auto;
    font-family: 'Noto Sans', sans-serif;
    color: #132b2c;
    max-width: 1600px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

li{
    list-style-type: none;
}

.section_lg{
    padding: 50px 30px;
}

.small-heading{
    text-transform: uppercase;
    margin: 0;
    color: #27826f;
}

.common-heading{
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 44px;
}

p{
    margin: 0;
}

.secondary-color{
    color: #6a6a6a;
}

.common-btn{
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #27826f;
    display: flex;
    width: max-content;
}

.common-btn:hover{
    background-color: #2F6C6D;
    color: #fff;
}

.yellow-btn{
    background-color: #fdd5a5;
    font-weight: 600;
    padding: 10px 25px;
    color: #132b2c;
    border-radius: 8px;
    display: flex;
    width: max-content;
    align-items: center;
    transition: all .2s ease;
}

.yellow-btn:hover{
    background-color: #27826f;
    color: #fff;
}


/* header css start */

.upper-header{
    background-color: #27826f;
    color: #fff;
    padding: 10px 0px;
}

.upper-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.left-upper-header a{
    font-size: 18px;
    margin: 0px 5px;
}

.right-upper-header a{
    margin: 0px 7px;
    font-size: 14px;
}

.right-upper-header a span{
    margin-right: 6px;
}

.right-upper-header a:hover, .left-upper-header a:hover{
    color: #fff;
    text-decoration: underline;
}

.lower-header{
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tj-menu-area #mobile-menu > ul {
    position: relative;
    display: flex;
} 

.tj-menu-area #mobile-menu > ul > li {
    position: relative;
    margin: 0px 25px;
}

.tj-menu-area #mobile-menu > ul > li a {
    transition: 0.4s;
    font-weight: 500;
    transition: all 0.2s ease-in-out 0s;
}

.tj-menu-area li.has-dropdown > a::after {
    position: absolute;
    top: 2px;
    right: -18px;
    line-height: 1;
    content: "+";
    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.tj-menu-area li a.active, .tj-menu-area li a:hover {
    color: #27826f;
}

.tj-menu-area .has-dropdown:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 150%;
}

.tj-menu-area li .sub-menu li a.active, .tj-menu-area li .sub-menu li a:hover {
    color: #27826f;
}

.tj-menu-area li .sub-menu li a.active::before, .tj-menu-area li .sub-menu li a:hover::before {
    width: 14px;
}

.tj-menu-area li .sub-menu {
    text-align: left;
    margin: 0;
    list-style: none;
    background: #fff;
    position: absolute;
    opacity: 0;
    padding: 20px 0;
    visibility: hidden;
    z-index: 9;
    top: 130%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    width: 240px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.tj-menu-area li .sub-menu::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #27826f;
    content: "";
    transition: 0.6s;
}

.tj-menu-area li .sub-menu li {
    display: block;
    margin-right: 0;
    transition: 0.4s;
}

.tj-menu-area li .sub-menu li.active, .tj-menu-area li .sub-menu li:hover {
    padding-left: 15px;
}

.tj-menu-area li .sub-menu li:last-child {
    padding-bottom: 0;
}

/* .tj-menu-area li.has-dropdown a {
    padding: 15px 20px 15px 0;
} */

.tj-menu-area li .sub-menu li a {
    position: relative;
    padding: 8px 20px;
    display: block;
    background: #27826f;
    background-clip: text;
    -webkit-background-clip: text;
}

.tj-menu-area li .sub-menu li a::before {
    content: "";
    width: 0;
    height: 2px;
    background: #27826f;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.4s;
}

.search-btn{
    border-left: 1px solid #132b2c;
    padding-left: 45px;
}


/* header css end */


/* about banner css start */

.about-banner{
    background-image: url('images/about-banner1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-banner::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    --background-overlay: '';
    background-image: linear-gradient(125deg, #27826f 0%, #3bbb9fd2 80%);
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.about-banner-inner{
    background-color: transparent;
    background-image: linear-gradient(125deg, #27826f 0%, #026c55e3 80%);
    position: relative;
}

.about-banner-inner::before{
    background-image: url('images/about-banner2.jpg');
    --background-overlay: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .5;
}

.about-banner-content{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.breadcrumb{
    margin-bottom: 0;
}

.breadcrumb a{
    color: #fff;
}

.breadcrumb a span{
    margin: 0px 10px;
    color: #fdd5a5;
}

.vm-inner{
    background-color: #27826f;
    padding: 40px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #f6f6f6 30%, #ffffff 100%);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 40px;
}

.right-vision-mission{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.left-vision-mission{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-vision-mission hr{
    height: 10px;
    width: 30%;
    color: #f8b86a;
    background-color: #f8b86a;
}

.vision-div{
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.vision-div h4{
    background-color: #27826f;
    text-align: center;
    padding: 15px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.vision-div p{
    padding: 20px 15px;
    font-size: 15px;
}

/* about banner css end */


/* about section css start */

.about-section{
    background-image: url('https://tebewebe.online/pharamedic/wp-content/uploads/sites/40/2023/10/plus-1.png');
    background-position: center center;
    background-size: 30px auto;
    position: relative;
    z-index: 2;
}

.about-section::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
    content: '';
    background-color: transparent;
    --background-overlay: '';
    background-image: radial-gradient(at center center, #FFFFFFA8 0%, #ffffff 60%);
}

.about-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
    position: relative;
}

.left-about img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.left-about{
    position: relative;
}

.key-points{
    position: absolute;
    left: -3%;
    bottom: -3%;
    background-color: #27826f;
    padding: 15px 25px;
    border-radius: 8px;
    color: #fff;
}

.key-points li{
    padding: 8px 0px;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF35;
}

.key-points li:last-child{
    border-bottom: none;
}

.key-points li span{
    margin-right: 5px;
    color: #fdd5a5;
}

.right-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-about p{
    font-size: 15px;
    margin-bottom: 5px;
}

.services-heading{
    display: grid;
    grid-template-columns: 5.5fr 6.5fr;
    gap: 20px;
    align-items: center;
}

.left-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-section .swiper-pagination-bullet-active{
    width: 13px;
    height: 13px;
    background: #fff;
    border: 2px solid #27826f;
}

.history-section .swiper-pagination-bullet {
    display: inline-block;
    align-items: center;
    margin: 0 10px !important;
}

.timeline{
    display: flex;
    position: relative;
    margin-top: 30px;
}

.timeline-line{
    height: 1px;
    position: absolute;
    width: 99.9%;
    top: 60%;
    border-bottom: 2px dashed;
    border-color: #27826f;
}

.timeline-item{
    height: 300px;
    padding: 115px 25px;
}

.timeline-pin{
    width: 47px;
    height: 47px;
    position: relative;
    margin: 0 50px;
}

.timeline-spot{
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f8b86a;
    border-radius: 50%;
    left: 50%;
    top: 115%;
    /* transform: translateY(-135%) translateX(-50%); */
    z-index: 1;
}

/* .timeline-spot-border{
    display: block;
    position: absolute;
    background: #FCF6F5FF;
    width: 47px;
    height: 47px;
    border-radius: 50%;
} */

.timeline-title{
    color: #333;
    font-weight: 600;
    font-size: 38px;
    position: absolute;
    bottom: 10%;
    left: -15%;
}

.timeline-content{
    top: 250%;
    position: absolute;
    max-height: 116px;
    background-color: #27826f;
    color: #fff !important;
    padding: 5px 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
    min-width: 210px;
    width: 210px;
    font-size: 17px !important;
    text-transform: none !important;
}

.timeline-corner{
    content: '';
    display: block;
    width: 14px;
    height: 18px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 23px;
    top: -16px;
}

.timeline-corner svg{
    fill: #27826f;
}

.timeline-item.even .timeline-content{
    bottom: 70%;
    top: auto;
}

.timeline-item.even .timeline-title{
    top: 200%;
    bottom: auto;
}

.timeline-item.even .timeline-corner{
    top: auto !important;
    bottom: -16px;
}

.cv-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
    margin-top: 40px;
}

.cv-item{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.cv-item img{
    width: 50px;
    height: 50px;
}


/* portfolio css */


.qualification-desc{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 50px;
  }
  
  .qualification-data{
    grid-column-gap: 15px;
      -webkit-column-gap: 15px;
      column-gap: 15px;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      padding: 15px 30px;
  }
  
  .qualification-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
  }

  .qualification-box h5{
    color: #27826f;
  }
  
  .round-shape{
    background-color: #f8b86a;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    width: 18px;
  }
  
  .line{
    background-color: #757575;
    display: block;
    height: 100%;
    transform: translate(8px,-7px);
    width: 1px;
  }
  
  .calender i{
    font-size: 12px;
    color: #333333;
  }


/* about section css end */

/* certificate section css start */

.certificate-section{
    position: relative;
}

.swiper-slide img{
    width: 100%;
    height: 135px;
}

.certificate-section .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}

.certificate-section .swiper-pagination-bullet-active{
    color: #27826f;
    background-color: #27826f;
}

.certificate-section .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 25px;
}

/* certificate section css end */

/* product category section css start */

.product-category-section{
    display: grid;
    grid-template-columns: 3.5fr 8.5fr;
    gap: 50px;
}

.is-advantages-section{
    background-color: #8bfde46c;
}

.adv-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.adv-inner{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
    margin-top: 40px;
}

.adv-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    border-right: 1px dashed #026c55e3;
}

.adv-item:last-child{
    border: 0;
}

.adv-item img{
    width: 50px;
}

.TabButton {
    width: 100%;
  color: #132b2c;
  text-transform: uppercase;
  background-color: #fdd5a5;
  border-radius: 10px;
  margin: 7px 0px;
  padding: 16px;
  cursor: pointer;
}

.TabButtonSelected {
  color: #fff;
  background-color: #27826f;
}

.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

.tab-section{
    padding: 0px 30px;
}

.tab-section p{
    font-size: 17px;
    margin-bottom: 10px;
}

/* cicely life */

.cicely-life-logo-img{
    display: flex;
    margin: 0px auto 30px;
}

.cicely-life-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.cicely-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid #27826f;
    border-radius: 8px;
}

.cicely-item img{
    width: 150px;
}

.bayberry-vet-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.bayberry-vet-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid #27826f;
    border-radius: 8px;
}

.bayberry-vet-item img{
    width: 150px;
    height: 250px;
}

/* product category section css end */


/* banner section css start */

.banner-section{
    background-image: url('images/banner-photo.jpg');
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-section::before{
    position: absolute;
    opacity: 1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    --background-overlay: '';
    background-image: linear-gradient(135deg, #2F6C6D90 0%, #27826f 100%);
}

.banner-section-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    position: relative;
    z-index: 1;
}

.right-banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-banner p{
    margin-bottom: 5px;
    font-size: 15px;
}

.right-banner a{
    background-color: #fdd5a5;
    font-weight: 600;
    padding: 10px 25px;
    color: #132b2c;
    border-radius: 8px;
    display: flex;
    width: max-content;
    align-items: center;
    transition: all .2s ease;
}

.right-banner a:hover{
    background-color: #fff;
}

.right-banner a span{
    margin-left: 10px;
}


/* banner section css end */


/* footer css start */

#footer{
    background-color: #F6F6F6;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 45px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-item img{
    width: 100px;
}


.footer-item li{
    padding: 5px 0px;
}

.footer-item li span{
    color: #27826f;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 700;
}

.footer-item li a:hover{
    color: #27826f;
    text-decoration: underline;
}

.ofc-time{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ofc-time i{
    font-size: 28px;
    color: #27826f;
}

.social-icons span{
    margin: 0px 10px;
    background-color: #27826f;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}

.timing{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* footer css end */


/* animations css code */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fade-up {
    animation: fade-up 1.3s ease-in;
  }

  .active.fade-up-form {
    animation: fade-up-form 1.3s ease-in;
  }

  .active.fadeInLeft {
    animation: fadeInLeft 1.3s ease;
  }
  
  .active.fadeInRight {
    animation: fadeInRight 1.3s ease;
  }

  .active.fadeIn{
    animation: fadeIn 1.3s ease;
  }

  .active.fadeInDown{
    animation: fadeInDown 1.3s ease;
  }

  .active.fadeInAnimation{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  } 
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }

  @keyframes fade-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


/* animation code ends */



/* contact page css start */

.contact-inner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
}

.left-contact-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.location-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

.location-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #27826f;
    border-right: 1px dotted #27826f;
}

.location-item:last-child, .location-item:nth-child(3), .location-item:nth-child(6){
    border-right: none;
}

.location-item i{
    font-size: 24px;
}

.right-contact-content .form-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-contact-content{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
    padding: 40px;
}

.right-contact-content form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    margin-top: 30px;
}

.right-contact-content form .form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.right-contact-content form .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.right-contact-content form .form-group .input-group input, .right-contact-content form textarea, .right-contact-content form .input-group select{
    padding: 10px;
    border-radius: 5px !important;
    border: none;
    background-color: #f2f2f2;
    outline: none;
}

.right-contact-content form input, .right-contact-content form textarea{
    outline: none;
    border: none;
    width: 100%;
}

/* contact page css end */


/* domestic operation page css start */


.business-partner-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.left-business-partner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.support-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    align-items: center;
}

.left-support img{
    width: 100%;
    border-radius: 8px;
}

.right-support ul li{
    padding: 5px 0px;
}

.right-support ul li span{
    margin-right: 10px;
}

/* domestic operation page css end */

/* career section css start */

.career-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.career-section a:hover{
    text-decoration: underline;
    color: inherit;
}

.career-form-section form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
}

.career-form-section .form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.career-form-section form .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.career-form-section .input-group input, .career-form-section .input-group textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #F6F6F6;
    font-size: 13px;
}

.career-form-section form input::placeholder, .career-form-section form textarea::placeholder{
    font-size: 14px;
}

.career-form-section input{
    border: unset;
}


/* career section css end */



/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27826f;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#27826f;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#27826f;font-size: 14px;}
.menu ul li a:hover {  color: #27826f; text-decoration:none;}
.menu a{text-decoration:none; color:#27826f;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #132b2c; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #27826f;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #27826f;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #27826f;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, .menu{
  display: none;
}

.logo img{
    width: 80px;
    height: 50px;
    /* background-color: #fff; */
}


@media screen and (max-width:450px) {
    .mobile-header{
        display: block;
    }

    #header, .key-points{
        display: none;
    }

    .section_lg{
        padding: 30px;
    }

    p, input::placeholder, label{
        font-size: 14px;
    }

    .carousel-content h1 {
        font-weight: 800;
        font-size: 26px;
    }

    .common-heading{
        font-size: 24px;
    }

    .carousel-content p{
        display: none;
    }

    .home-banner, .product-grid{
        padding: 0 10px;
    }

    .home-banner{
        margin-top: 30px;
    }

    .home-banner .carousel-item img{
        height: 250px;
    }

    .carousel-content {
        top: 40%;
        width: 90%;
        gap: 15px;
    }

    .yellow-btn {
        padding: 5px 15px;
    }

    .product-grid-inner, .about-inner, .contact-form-inner, .footer-inner, .contact-details, .left-contact-form form .form-group, .product-heading-section, .products-inner, .services-heading, .vm-inner, .right-vision-mission, .banner-section-inner, .product-category-section, .cicely-life-inner, .bayberry-vet-section, .business-partner-section, .support-inner, .location-div, .right-contact-content form .form-group, .career-form-section .form-group{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .contact-form-section::before {
        background-image: linear-gradient(90deg, #27826f 0%, #27826f 100%);
    }

    .left-contact-form, .vm-inner, .right-contact-content{
        padding: 20px;
    }

    .about-banner-content.section_lg{
        padding: 14px;
    }

    .breadcrumb a, .right-support ul li, .tab-section p, .vision-div p{
        font-size: 14px;
    }

    .tab-section {
        padding: 0px;
    }

    .location-item {
        gap: 10px;
        border-bottom: 1px dotted #27826f;
        border-right: unset;
        padding-bottom: 12px;
    }

    .location-item h5{
        font-size: 18px;
    }

    .footer-item ul li{
        font-size: 14px;
    }

    .right-contact-content form .input-group {
        gap: 5px;
    }

    .right-support ul li span{
        margin-right: 5px;
    }

    .left-contact-form form .form-group .input-group input, .left-contact-form form textarea, .right-contact-content form .form-group .input-group input, .right-contact-content form textarea, .right-contact-content form .input-group select {
        padding: 5px;
    }

    .global-presence-section img {
        width: 100%;
        height: auto;
    }

    .timeline-item {
        height: 300px;
        padding: 115px 0px;
    }

    
  .qualification-desc{
    grid-template-columns: none;
  }

  .qualification-data {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px;
  }

  .qualification-data div:nth-child(2) {
    display: none;
  }
}
